extends layout

block content
  
  paper-header-panel(mode='standard')
    .paper-header Dreamify!

  .over-all-flex  

    .logo-flex-container    
      .logo-text {
      .paper-container
        ripple-card(title='Morpheus 1.0', id='logo')
      .logo-text }
    
    .button-flex-container
      paper-fab(id='info', icon='help-outline') 
      paper-fab(id='gallery', icon='view-array') 
       