extends layout

block content
  
  paper-header-panel(mode='standard')
    .paper-header Freakyfy!
  
  .flex-container
    .logo-text {
    .paper-container
      ripple-card(title='Morpheus 1.0')
    .logo-text }
  