extends layout

block content
  
  paper-header-panel(mode='standard')
    .paper-header Freakyfy!
  
  .flex-container
    
    input(type='file', id='uploader', style='display:none')

    .logo-text {
    .paper-container
      ripple-card(title='Morpheus 1.0')
    .logo-text }

    