doctype html
html(ng-app="sliderApp")
  head
    title= title

    script(src='/webcomponentsjs/webcomponents-lite.min.js')
    meta(name='viewport', content='width=device-width', initial_scale='1')

    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    link(rel='import', href='/polymer/polymer.html')
    link(rel='import', href='/paper-button/paper-button.html')
    link(rel='import', href='/paper-card/paper-card.html')
    link(rel='import', href='/iron-flex-layout/classes/iron-flex-layout.html')
    link(rel='import', href='/paper-header-panel/paper-header-panel.html')
    link(rel='import', href='/elements/uploader-element.html')
    link(rel='import', href='/elements/ripple-card-element.html')
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    script(src='http://code.angularjs.org/1.2.9/angular.min.js', type='text/javascript')
    script(src='http://code.angularjs.org/1.2.9/angular-animate.min.js')
    script(src='/js/app.js')

  body(fullbleed unresolved layout vertical ng-controller='SliderController')
    block content
