
html,body{
	margin: 0;
	background-color: #3498db;
	font-family: 'Roboto', 'Noto', sans-serif;
	height: 100vh ;
	width: 100vw;
}

paper-ripple{
	color: #fff;
}

.paper-header{
	background-color: #2980b9;
	/*height: 60px;*/
	font-size: 16px;
	line-height: 60px;
	padding: 0 10px;
	color: #fff;
	text-align: center;
}

paper-header-panel{
	height: 15%;
  width: 100%;
}

.logo-flex-container{
	display: flex;	
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo-text{
	font-size: 47vmin;
	color: #fff;
}

.paper-container{
	margin-right: 1%;
	margin-left: 1%;
	position: relative;
}

.over-all-flex{
	display: flex;
	flex-direction: column;
	align-items: center;	
	justify-content: center;
	height: 80vh;
	width: 100vw;		
}

.button-flex-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 20vh;
	width: 70vh;
}

paper-fab{
	width: 14.3vmin;
	height: 14.5vmin;
	margin-right: 10%;
	margin-left: 10%;
}

#info{
	background: #2ecc71;
}

#gallery{
	background: #f39c12;
}
