
html,body{
	margin: 0;
	background-color: #3498db;
	font-family: 'Roboto', 'Noto', sans-serif;
	height: 100vh ;
	width: 100vw;
}

paper-header-panel{
	height: 15%;
}

paper-button {
	background: green;
	color: #fff;				
}

paper-ripple{
	color: #fff;
}

.slider{
  position: relative;
  left: 10%;
}
.slide{
  position:absolute;
  top:0;
  left:0;
  box-shadow: 0px 0px 15px #999;
}

.paper-header{
	background-color: #2980b9;
	height: 60px;
	font-size: 16px;
	line-height: 60px;
	padding: 0 10px;
	color: #fff;
	text-align: center;
}

.paper-card {
	height: 150px;
	max-width: 320px;
	margin: 16px auto;
	background-color: #fff;
}


.flex-container{
	display: flex;	
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;	
}

.logo-text{
	font-size: 200px;
	color: #fff;
}

.paper-container{
	margin-right: 1%;
	margin-left: 1%;
	height: 40%;
	width: 50%;
}


